<div
    style="background-color: #323437;  color:azure;"
    fxLayout="column" fxLayoutAlign="space-evenly">

    <div style = "color:antiquewhite">Login</div>
  
    <p>
        <mat-form-field appearance="legacy">
        <mat-label>email</mat-label>
        <input matInput [formControl]="email">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance= "standard">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </p>

    <p>
        <button mat-raised-button color="antiquewhite" (click) = "signin()">
            Sign In
        </button>
    </p>


</div>